<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}A modular, web-based control panel for HTPC services{% endblock %}">
    <meta name="author" content="">
	<meta name="viewport" content="user-scalable=no,width=375px">

    {% block meta %}{% endblock %}
    <link rel="shortcut icon" href="/assets/ico/favicon.ico">

    <title>&#9989; ServerMenu {% if block("title") is defined %}– {{ block('title') }}{% endif %}</title>

    <link href="/css/app.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    {% if config.app.theme is not empty and config.app.theme != 'default' %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.2.0/css/{{ config.app.theme|lower }}/bootstrap.css" rel="stylesheet" />
    {% endif %}


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
		
	<!-- Shortcut Icons -->
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<!-- Apple Touch Icons -->
	<link rel="apple-touch-icon" href="/images/os-specific/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="57x57" href="/images/os-specific/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="/images/os-specific/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="/images/os-specific/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="/images/os-specific/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon" sizes="60x60" href="/images/os-specific/apple-touch-icon-60x60.png" />
	<link rel="apple-touch-icon" sizes="120x120" href="/images/os-specific/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon" sizes="76x76" href="/images/os-specific/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon" sizes="152x152" href="/images/os-specific/apple-touch-icon-152x152.png" />
	<!-- Windows 8 Tile Icons -->
    <meta name="msapplication-square70x70logo" content="/images/os-specific/smalltile.png" />
	<meta name="msapplication-square150x150logo" content="/images/os-specific/mediumtile.png" />
	<meta name="msapplication-wide310x150logo" content="/images/os-specific/widetile.png" />
	<meta name="msapplication-square310x310logo" content="/images/os-specific/largetile.png" />
</head>

<body class="{{ getPageClasses() }}">

<!-- Fixed navbar -->
{% block navbar %}
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><i class="glyphicon glyphicon-ok"></i> Server Menu</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
	            {% if session.login %}
                	<li class="{{ getActiveClass('') }}"><a href="/">Home</a></li>
                	<li class="{{ getActiveClass('config') }}"><a href="/config">Settings</a></li>

	                {% for title, link in config.app.navigation_links %}
	                    <li>
	                        <a href="{{ link }}">{{ title }}</a>
	                    </li>
	                {% endfor %}
				{% endif %}

            </ul>
			{% if session.login %}
	            <ul class="nav navbar-nav pull-right">
		            <li><p class="navbar-text data-load data-reload" data-loadtype="app" data-loadid="DiskSpace"></p></li>
		            
	                <li class="pull-right">
	                    <form>
	                    <a href="/logout" type="button" class="btn btn-default btn-sm navbar-btn"><i class="glyphicon glyphicon-log-out"></i> Logout</a>
	                    </form>
	                </li>
	            </ul>
            {% endif %}
        </div><!--/.nav-collapse -->
    </div>
</div>
{% endblock %}

<!-- Begin page content -->
{% block content %}
<div class="container" id="main">
    {% block container %}
    <div class="page-header">
        <h1>Sticky footer with fixed navbar</h1>
    </div>
    <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code>padding-top: 60px;</code> on the <code>body > .container</code>.</p>
    <p>Back to <a href="//getbootstrap.com/examples/sticky-footer">the default sticky footer</a> minus the navbar.</p>
    {% endblock %}
</div>
{% endblock %}


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/vendor/jquery.min.js"></script>
<script src="/js/vendor/bootstrap.min.js"></script>
<!-- Check for jQuery and Bootstrap, load them locally if they don't exist -->
<script>if(!window.jQuery){document.write('<script src="/js/vendor/jquery.min.js"><\/script>')};</script>
<script>if(typeof $.fn.emulateTransitionEnd != 'function'){document.write('<script src="/js/vendor/bootstrap.min.js"><\/script>')};</script>
<script src="/js/app.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>
