<table class="table table-striped table-media table-condensed" >
<tbody>
{% for result in results %}
<tr>
    <td style="text-align: left; word-wrap:break-all;">
        <span class="text-muted small">
        {% if not result.date is empty %}
        {{ result.date|trim }}
        {% endif %} 
        {% if not result.size is empty %}
        {{ result.size|trim }}
        {% endif %} 
        {% if not result.subtitle is empty %}
        {{ result.subtitle|trim }}
        {% endif %}
        	
        </span> <br />
        <a href="{{ result.link }}">
            {{ title(result.title)|striptags('<b>')|raw }}
        </a>

    </td>

    <td style="text-align:right; min-width:85px; vertical-align: middle">
        {% if result.actions is not empty %}
            <div class="dropdown">
                <button class="btn btn-default btn-xs dropdown-toggle sender"  type="button" data-toggle="dropdown">
                    Actions
                </button>

                <ul class="dropdown-menu dropdown-menu-right">
                    {% for action in result.actions %}
                        <li role="presentation" class="dropdown-header sendertype" data-plugintype="{{ action.pluginType }}"
                            data-receivertype="{{ action.receiverType }}"
                            data-content="{{ action.content }}">
                            <span class="glyphicon glyphicon-{{ action.glyphicon }}"></span> {{ action.title }}
                        </li>
                        <li role="presentation" class="dropdown-loading">
                            <a class="dropdown-item-loading disabled" role="menuitem" tabindex="-1" href="#">&nbsp;</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </td>
</tr>
{% endfor %}
</tbody>
</table>