<table class="table table-striped table-media table-condensed">
<tbody>
{% for result in results %}
<tr>
    <td style="text-align: left">
        <a href="http://re.zoink.it/32b0631bF8">
            {{ result.title }}
            <span class="text-muted">{{ result.subtitle }}</span>
        </a>
    </td>

    <td style="text-align:right; min-width:85px;">
        {% for action in result.actions %}
            <div class="dropdown">
                <button class="btn btn-default btn-xs dropdown-toggle" data-plugintype="{{ action.pluginType }}"
                        data-receivertype="{{ action.receiverType }}"
                        data-content="{{ action.content }}" type="button" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-{{ action.glyphicon }}"></span>
                    {{ action.title }}
                </button>
                <ul class="dropdown-menu">
                    <li role="presentation">
                        <a class="dropdown-item-loading disabled" role="menuitem" tabindex="-1" href="#">&nbsp;</a>
                    </li>
                </ul>
            </div>
        {% endfor %}
    </td>
</tr>
{% endfor %}
</tbody>
</table>