{% extends "base.html.twig" %}
{% block title %}Menu 2.0{% endblock %}
{% block container %}
    <div class="row row-centered" id="services">
        {% for serviceId, serviceConfig in config.services %}
            <div class="col-xs-12 col-sm-3 data-load data-reload text-center col-centered"
                 data-loadid="{{ serviceId }}" data-loadtype="service" data-noloadanim="true">
                {% include 'service.html.twig' ignore missing with {'serviceId': serviceId, 'config': serviceConfig, 'statuscode': 10} %}
            </div>
        {% endfor %}
    </div>
    <hr />
    <div class="row row-centered" id="feeds">
    <ul class="nav nav-tabs" role="tablist">
        {% for feedId, feedConfig in config.feeds %}
            <li>
                <a href="#feed-{{ feedId }}" data-toggle="tab" data-id="feed-{{ feedId }}">
                    {{ feedConfig.plugin }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <div class="tab-content">
        {% for feedId, feedConfig in config.feeds %}
            <div class="tab-pane data-load" id="feed-{{ feedId }}" data-id="feed-{{ feedId }}" data-loadtype="feed"
                 data-loadid="{{ feedId }}">
            </div>
        {% endfor %}
    </div>
{% endblock %}